body {
    background-image: url(../img/bg.webp);
    background-color: #ffb92b;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
}

section {
    margin-top: 150px;
}


.title {
    font-size: 5rem;
    font-weight: 600;
}

h2.title {
    font-size: 4rem;
    padding: 20px 0px;
}

.IA.random-numbers-container {
    margin: 30px 30px 30px 0px;
    display: flex;
    justify-content: space-evenly;
}

.IA-random-number {
    aspect-ratio: 1/1;
    width: 10%;
    border-radius: 50%;
    background-color: orange;
    color: white;
    font-weight: bold;
    border: 4px dashed white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}

.animated-svg {
    transition: opacity 0.2s;
    animation: loading 1.4s linear infinite;
    position: absolute;
}

@keyframes loading {
    from {
        transform: rotate(0deg);
        fill: rgb(250, 165, 6);
    }

    to {
        transform: rotate(360deg);
        fill: rgb(143, 13, 13);
    }
}

/* push*/